<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        input {
            display: inline-block;
            margin-top: 8px;
            background-color: #c3cbd2;
            width: 95%;
            height: 35px;
            border-radius: 14px;
            border: none;
            max-width: 300px;
            text-align: center;
        }
        button[type=submit] {
            display: inline-block;
            width: 10%;
            height: 30px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Phone Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Add Contact", "Add", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <form action="/Search/Index">
                    <input type="text" name="name" placeholder="Search" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

